@model Employee
@{
    ViewBag.Title = "Employee.Details";
}


<h1 class="text-center m-5">@ViewBag.Title</h1>


<div class="row my-5">
    <div class="col-12 mx-auto">
        <div class="card">
            <h5 class="card-header text-danger display-3 text-center">@Model.name</h5>
        <div class="text-center">
            <img asp-append-version="true" src="@Model.photoPath" class="card-img-top" style="width:30%;height:30%" alt="@Model.name" />
        </div>
        <div class="card-body text-center">
            <p class="card-text display-4">
                <span class="text text-info">@Model.departement</span><br />
                @Model.email
            </p>
            <a asp-action="Index" class="btn btn-primary">Back To Home Page</a>
        </div>
        </div>
    </div>
</div>

