@model EmployeeManagement.ViewModels.EmploeeDetailsVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.title</title>
</head>
<body>
    <h1 style="text-align:center;">@Model.title</h1>
    <p>id: @Model.employee.id<br />name: @Model.employee.name<br />departement: @Model.employee.departement<br />email: @Model.employee.email</p>
</body>
</html>
