@model IEnumerable<Employee>
@{
    ViewBag.Title = "Employees";
}


<h1 class="text-center m-5">@ViewBag.Title</h1>


<div class="row">

    @foreach (var item in Model)
    {
       <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
            <img asp-append-version="true"  src="@item.photoPath" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.name</h5>
                <p class="card-text">@item.email<br />
                @item.departement    
                </p>
                <a asp-action="Details" asp-route-id="@item.id" class="btn btn-primary">Details</a>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-success">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Delete</a>
            </div>
        </div>
       </div>

    }
</div>